@use '../abstracts/mixins' as mixins;
.app-intro {
  background-color: #128c7e;
  color: #ffffff;
  padding-bottom: 0;
  padding-top: 56px;
  text-align: center;
  @include mixins.breakpoint(768px) {
    background: none;
    color: #1c1e21;
    padding-bottom: 56px;
    text-align: left;
  }
  & > div {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mixins.breakpoint(768px) {
      flex-direction: row;
    }
    @include mixins.breakpoint(1024px) {
      max-width: 788px;
      width: 100%;
    }
  }
  @include mixins.element(content) {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    @include mixins.breakpoint(768px) {
      width: 50%;
      justify-content: flex-start;
    }
    & > h2.slogan {
      font-size: 24px;
      line-height: 31px;
      display: block;
      font-weight: 400;
      @include mixins.breakpoint(768px) {
        font-size: 33px;
        line-height: 43px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1.8rem + 0.9vw);
        line-height: calc((1.8rem + 0.9vw) * 1.5);
      }
    }
    & > p.description {
      font-size: 16px;
      font-weight: 400;
      word-wrap: break-word;
      margin: 16px 0;
      @include mixins.breakpoint(768px) {
        font-size: 18px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1rem + 0.5vw);
      }
    }
    & > p.attention {
      display: none;
      @include mixins.breakpoint(768px) {
        display: block;
        color: #5e5e5e;
        font-size: 16px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1rem + 0.5vw);
        line-height: calc((1rem + 0.5vw) * 1.5);
      }
    }
    & > a.get-on-mobile {
      font-weight: 400;
      display: inline-block;
      margin-bottom: 40px;
      margin-top: 16px;
      background: #075e54;
      color: #ffffff;
      border-radius: 40px;
      padding: 8px 16px;
      text-align: center;
      font-size: 14px;
      line-height: 120%;
      text-decoration: none;
      @include mixins.breakpoint(250px) {
        font-size: 16px;
        padding: 16px 32px;
      }
      @include mixins.breakpoint(768px) {
        display: none;
      }
    }
    & > ul.get-on-desktop {
      display: none;
      @include mixins.breakpoint(768px) {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-top: 32px;
        & > li {
          padding-bottom: 16px;
        }
        a {
          color: #1cb39b;
          text-decoration: none;
          @include mixins.attention {
            text-decoration: underline;
          }
        }
        svg.os-icon {
          width: calc(1.2rem + 0.6vw);
          height: calc(1.2rem + 0.6vw);
          fill: #1cb39b;
          margin-right: 16px;
        }
        svg.arrow-right {
          width: calc(1rem + 0.5vw);
          height: calc(1rem + 0.5vw);
          margin: 0 8px;
          fill: #1cb39b;
        }
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1rem + 0.5vw);
      }
    }
  }
  @include mixins.element(banner) {
    @include mixins.breakpoint(768px) {
      width: 41.666%;
    }
    & > picture {
      height: auto;
      margin-left: auto;
      margin-right: auto;
      max-width: 304px;
    }
    @include mixins.breakpoint(768px) {
      & > picture {
        max-width: 400px;
      }
    }
  }
}
.app-summary {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mixins.breakpoint(768px) {
    flex-direction: row;
  }
  @include mixins.breakpoint(768px) {
    max-width: 1440px;
  }
  @include mixins.element(buisness-wrapper) {
    background-color: #d8e8ea;
    margin: 0;
    padding-bottom: 0;
    padding-top: 80px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    @include mixins.breakpoint(768px) {
      width: calc(50vw - 16px);
      margin-right: 16px;
    }
    & > h1.title {
      font-size: 26px;
      font-weight: 700;
      line-height: 36px;
      padding-bottom: 8px;
      @include mixins.breakpoint(768px) {
        font-size: 34px;
        line-height: 44px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1.8rem + 0.9vw);
        line-height: calc((1.8rem + 0.9vw) * 1.5);
      }
    }
    & > .description-wrapper {
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      a {
        color: #39b3ed;
        text-decoration: none;
        @include mixins.attention {
          text-decoration: underline;
        }
      }
      p {
        word-wrap: break-word;
        font-size: 16px;
        line-height: 26px;
        margin: 16px 0;
      }
      @include mixins.breakpoint(768px) {
        p {
          font-size: 18px;
          line-height: 26px;
        }
      }
      @include mixins.breakpoint(1400px) {
        p {
          font-size: calc(1rem + 0.5vw);
          line-height: calc((1rem + 0.5vw) * 1.5);
        }
      }
    }
    & > .banner-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 56px;
      picture {
        max-width: 80%;
      }
      @include mixins.breakpoint(768px) {
        margin-top: 88px;
        picture {
          max-width: 64%;
        }
      }
    }
  }
  @include mixins.element(security-wrapper) {
    background-color: #e7f0e4;
    margin: 0;
    padding-bottom: 0;
    padding-top: 80px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    @include mixins.breakpoint(768px) {
      width: calc(50vw - 16px);
      margin-left: 16px;
    }
    & > .banner-wrapper {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-bottom: 32px;
      img {
        width: auto;
        height: 100%;
      }
      @include mixins.breakpoint(250px) {
        width: 200px;
        height: 200px;
      }
      @include mixins.breakpoint(320px) {
        width: 272px;
        height: 272px;
      }
      @include mixins.breakpoint(768px) {
        width: 350px;
        height: 350px;
        margin-bottom: 56px;
      }
      @include mixins.breakpoint(1400px) {
        width: 375px;
        height: 375px;
      }
    }
    & > .subtitle {
      color: #5e5e5e;
      font-weight: 700;
      line-height: 26px;
      font-size: 16px;
      letter-spacing: 0.15em;
      margin-bottom: 2px;
      @include mixins.breakpoint(768px) {
        line-height: 34px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1.2rem + 0.6vw);
        line-height: calc((1.2rem + 0.6vw) * 1.5);
      }
    }
    & > .title {
      font-size: 26px;
      font-weight: 700;
      line-height: 36px;
      padding-bottom: 8px;
      @include mixins.breakpoint(768px) {
        font-size: 34px;
        line-height: 44px;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1.8rem + 0.9vw);
        line-height: calc((1.8rem + 0.9vw) * 1.5);
      }
    }
    & > .description-wrapper {
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      p {
        word-wrap: break-word;
        font-size: 16px;
        line-height: 26px;
        margin: 16px 0;
      }
      @include mixins.breakpoint(768px) {
        p {
          font-size: 18px;
          line-height: 26px;
        }
      }
      @include mixins.breakpoint(1400px) {
        p {
          font-size: calc(1rem + 0.5vw);
          line-height: calc((1rem + 0.5vw) * 1.5);
        }
      }
    }
  }
}
.app-exploration {
  text-align: center;
  padding: 32px 0 56px 0;
  @include mixins.breakpoint(768px) {
    padding: 56px 0 88px 0;
  }
  a {
    display: inline-block;
    font-weight: 400;
    color: #128c7e;
    background: #ffffff;
    border: 2px solid #77d7c8;
    border-radius: 40px;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    @include mixins.breakpoint(250px) {
      font-size: 16px;
      padding: 16px 32px;
    }
  }
  @include mixins.breakpoint(1400px) {
    a {
      font-size: calc(1rem + 0.5vw);
      font-weight: 500;
      border: 4px solid #77d7c8;
    }
  }
}
