@use '../utils/mixins' as mixins;
@use '../utils/variables' as variables;
.goal-card {
  min-height: calc(8rem + 4vw);
  border-radius: 1rem;
  @include mixins.element(title) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
  }
}
