@use '../utils/mixins' as mixins;
@use '../utils/variables' as variables;
.goal-blog {
  max-width: 768px;
  @include mixins.breakpoint(1400px) {
    max-width: 1200px;
  }
  @include mixins.element(description) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
  }
  @include mixins.element(thumbnail) {
    height: calc(20rem + 10vw);
    border-radius: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  @include mixins.element(detail-item) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
    width: 50%;
  }
  @include mixins.element(why) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
    & > * + * {
      margin-top: calc((1rem + 0.5vw) / 2);
    }
  }
}
