@use '../utils/mixins' as mixins;
@use '../utils/variables' as variables;
.goal-form {
  @include mixins.element(label) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
  }
  @include mixins.element(input) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
    border-radius: 1rem;
  }
  @include mixins.element(error) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    &.hide {
      transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
    }
    &.show {
      transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    }
  }
  @include mixins.element(submit) {
    max-width: 250px;
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    border-radius: 1rem;
    margin: 0 auto;
    @include mixins.breakpoint(1400px) {
      max-width: 320px;
    }
  }
}
