@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;
body {
  background-color: variables.$body-bg;
  color: variables.$light-black;
}
main {
  height: auto;
  margin: 48px auto 0 auto;
  @include mixins.breakpoint(768px) {
    width: 750px;
  }
  @include mixins.breakpoint(992px) {
    width: 970px;
  }
  @include mixins.breakpoint(1200px) {
    width: 1170px;
  }
  @include mixins.breakpoint(1400px) {
    width: calc(100rem + 25vw);
    margin: calc(4rem + 1.5vw) auto 0 auto;
  }
}
.tl-page {
  margin-top: 17px;
  @include mixins.breakpoint(1400px) {
    margin-top: calc(1.5rem + 0.5vw);
  }
}
