.landing-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(20rem + 4vw);
  background-color: var(--green);
}
.landing-header {
  width: 100%;
  min-height: calc(4rem + 1vw);
  padding: 0 calc((0.8rem + 0.4vw) * 2);
}
.landing-header__title {
  font-size: calc((0.9rem + 0.45vw) * 1.25);
}
.landing-window {
  width: 100%;
  box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%),
    0 12px 15px 0 rgb(11 20 26 / 24%);
}
.landing-content {
  flex-wrap: wrap;
  flex-direction: column;
}
.landing-content__title {
  font-size: calc((0.9rem + 0.45vw) * 2);
  color: #41525d;
}
.landing-content__list {
  list-style-position: inside;
  line-height: calc((0.8rem + 0.4vw) * 3);
}
.landing-content__list * + * {
  margin-top: calc((0.8rem + 0.4vw) * 1.5);
}
.landing-content__list-item {
  font-size: calc((0.9rem + 0.45vw) * 1.5);
  color: #3b4a54;
}
.landing-content__link {
  color: #008069;
  font-size: calc((0.9rem + 0.45vw) * 1.25);
}
.landing-qr-code-wrapper {
  width: 100%;
  margin-top: calc((0.8rem + 0.4vw) * 4);
}
.landing-content__qr-code {
  width: 100%;
  height: 100%;
}
.landing-content__qr-code-logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-teaser-wrapper {
  width: 100%;
  background-color: rgba(11, 20, 26, 0.05);
  height: calc(36rem + 6vw);
}
.landing-content__teaser {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 350px) {
  .landing-header {
    padding: 0 calc((0.8rem + 0.4vw) * 4);
  }
  .landing-content__qr-code {
    width: calc(25rem + 5vw);
    height: calc(25rem + 5vw);
  }
}
@media only screen and (min-width: 768px) {
  .landing-window {
    border-radius: calc((0.8rem + 0.4vw) / 2);
  }
  .landing-wrapper {
    padding: 0 calc((0.8rem + 0.4vw) * 4);
  }
  .landing-header {
    padding: 0 0;
  }
  .landing-header__title {
    font-size: calc(0.9rem + 0.45vw);
  }
  .landing-content {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-content__list-item {
    font-size: calc((0.9rem + 0.45vw) * 1.25);
  }
  .landing-content__link {
    font-size: calc((0.9rem + 0.45vw) * 1);
  }
  .landing-qr-code-wrapper {
    width: unset;
    margin-top: 0;
  }
  .landing-teaser-wrapper {
    padding: calc((0.8rem + 0.4vw) * 4);
    height: calc(36rem + 6vw);
  }
  .landing-content__teaser {
    width: calc(48rem + 6vw);
    object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-wrapper {
    padding: 0 0;
  }
  .landing-header {
    width: calc(100% - ((0.8rem + 0.4vw) * 10));
  }
  .landing-window {
    width: calc(100% - ((0.8rem + 0.4vw) * 20));
  }
  .landing-content__title {
    font-size: calc((0.9rem + 0.45vw) * 1.75);
  }
}
