@use '../abstracts/mixins' as mixins;

.footer {
  @include mixins.element(related-links) {
    background-color: #273443;
    padding: 56px 24px 0;
    @include mixins.breakpoint(768px) {
      padding: 56px 20px;
    }
    @include mixins.breakpoint(1024px) {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
  @include mixins.element(related-links-group) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    @include mixins.breakpoint(1024px) {
      max-width: 1050px;
      width: 90%;
    }
    @include mixins.breakpoint(1024px) {
      max-width: 1200px;
    }
  }
  @include mixins.element(related-link-group) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin-bottom: 32px;
    & > h3 {
      color: #f0f4f9;
      letter-spacing: 1.7px;
      line-height: 17px;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 16px;
    }
    & > a {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;
    }
    & h4 {
      color: #ffffff;
      font-size: 16px;
      padding-bottom: 16px;
      line-height: 26px;
      font-weight: 400;
      @include mixins.attention {
        text-decoration: underline;
      }
    }
    @include mixins.breakpoint(320px) {
      width: 50%;
    }
    @include mixins.breakpoint(768px) {
      width: 25%;
      margin-bottom: 0;
      justify-content: flex-start;
      & > h3 {
        padding-bottom: 32px;
      }
      & h4 {
        padding-bottom: 4px;
        font-size: 18px;
      }
    }
    @include mixins.breakpoint(1400px) {
      & > h3 {
        font-size: calc(1rem + 0.5vw);
      }
      & h4 {
        font-size: calc(1rem + 0.5vw);
        padding-bottom: 12px;
      }
    }
  }
  @include mixins.element(rights) {
    background-color: #1c1e21;
    padding: 16px 24px;
    @include mixins.breakpoint(768px) {
      padding: 4px 24px;
    }
    @include mixins.breakpoint(1024px) {
      display: flex;
      justify-content: center;
    }
  }
  @include mixins.element(rights-wrapper) {
    & > h4 {
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 400;
      padding: 8px 0;
    }
    & > a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      h6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 19px;
        color: #ffffff;
        margin: 0;
        padding: 8px 0;
      }
      svg {
        width: calc(1rem + 0.5vw);
        height: calc(1rem + 0.5vw);
        fill: #ffffff;
        margin: 0 8px;
      }
    }
    @include mixins.breakpoint(768px) {
      display: flex;
      justify-content: space-between;
      & > h4 {
        padding: 16px 0;
      }
      & > a {
        h6 {
          padding: 16px 0;
        }
      }
    }
    @include mixins.breakpoint(1024px) {
      max-width: 1050px;
      width: 90%;
    }
    @include mixins.breakpoint(1400px) {
      max-width: 1200px;
      & > h4 {
        font-size: calc(1rem + 0.5vw);
        padding: calc(1rem + 0.5vw) 0;
      }
      & > a {
        h6 {
          font-size: calc(1rem + 0.5vw);
          padding: calc(1rem + 0.5vw) 0;
        }
      }
    }
  }
}
