@use '../abstracts/mixins' as mixins;
.header {
  padding-bottom: 61px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #128c7e;
  height: 61px;
  max-width: 100%;
  min-width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: content-box;
  @include mixins.breakpoint(768px) {
    padding-bottom: 0;
    position: fixed;
    height: 74px;
  }
  @include mixins.breakpoint(1024px) {
    height: 91px;
  }
  @include mixins.element(wrapper) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    width: 90%;
    @include mixins.breakpoint(768px) {
      max-width: 1050px;
      padding-left: 32px;
      padding-right: 32px;
      width: 100%;
    }
    @include mixins.breakpoint(1400px) {
      max-width: 1200px;
    }
  }
  @include mixins.element(banner-wrapper) {
    width: 80%;
    align-items: center;
    display: flex;
  }
  @include mixins.element(banner) {
    left: 50%;
    position: absolute;
    top: 64px;
    transform: translateX(-50%);
    display: block;
    @include mixins.breakpoint(768px) {
      left: auto;
      position: relative;
      top: unset;
      transform: unset;
    }
    @include mixins.breakpoint(1024px) {
      display: none;
    }
  }
  @include mixins.element(banner-link) {
    display: block;
    & > img {
      height: 77px;
      width: auto;
      object-fit: contain;
    }
    @include mixins.breakpoint(768px) {
      & > img {
        width: auto;
        height: auto;
      }
    }
  }
  @include mixins.element(desktop-banner) {
    display: none;
    @include mixins.breakpoint(1024px) {
      display: block;
      min-width: 160px;
      & > a {
        display: block;
      }
    }
  }
  @include mixins.element(navs-wrapper) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: unset;
    @include mixins.breakpoint(768px) {
      min-width: 90%;
    }
    @include mixins.breakpoint(1024px) {
      min-width: 80%;
    }
  }
  @include mixins.element(desktop-nav) {
    display: none;
    @include mixins.breakpoint(768px) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;
      & > a {
        color: #ffffff;
        text-decoration: none;
      }
      & h5 {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }
    }
    @include mixins.breakpoint(1024px) {
      & h5 {
        font-size: 16px;
      }
    }
    @include mixins.breakpoint(1400px) {
      & h5 {
        font-size: calc(1rem + 0.5vw);
      }
    }
  }
  @include mixins.element(desktop-lang-wrapper) {
    display: none;
    @include mixins.breakpoint(768px) {
      display: block;
    }
  }
  @include mixins.element(desktop-lang-toggler) {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #128c7e;
    outline: none;
    color: #fff;
    font-size: 13px;
    padding: 0;
    margin: 0;
    width: auto;
    cursor: pointer;
    svg:first-of-type {
      width: calc(1.2rem + 0.6vw);
      height: calc(1.2rem + 0.6vw);
      fill: #ffffff;
    }
    & > h5 {
      display: none;
      @include mixins.breakpoint(1024px) {
        display: block;
        margin: 0;
        padding: 0;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 16px;
        font-weight: 400;
      }
      @include mixins.breakpoint(1400px) {
        font-size: calc(1rem + 0.5vw);
      }
    }
    & > h5 + svg {
      display: none;
    }
    @include mixins.breakpoint(1024px) {
      & > h5 + svg {
        display: block;
        width: calc(0.8rem + 0.2vw);
        height: calc(0.8rem + 0.2vw);
        fill: #ffffff;
      }
    }
  }
  @include mixins.element(desktop-langs-box) {
    display: none;
  }
  @include mixins.element(desktop-langs) {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 10px 50px rgb(0 0 0 / 5%);
    left: 50%;
    max-height: 80%;
    max-width: 800px;
    overflow: auto;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 24px;
    padding-top: 32px;
    position: fixed;
    top: 12%;
    transform: translate(-50%, -10%);
    width: 90%;
    z-index: 10000;
    & > .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      & > h3 {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
      }
      & > button {
        background: none;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        svg {
          width: 30%;
          height: 30%;
          display: block;
          fill: #075e54;
        }
      }
    }
    @include mixins.breakpoint(1400px) {
      border-radius: calc(0.4rem + 0.2vw);
      max-width: 1200px;
      top: 15%;
      & > .row {
        & > h3 {
          font-size: calc(1.8rem + 0.9vw);
          line-height: calc((1.8rem + 0.9vw) * 1.5);
        }
        & > button {
          height: 56px;
          width: 56px;
        }
      }
    }
  }
  @include mixins.element(desktop-langs-list) {
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      margin: 0;
      padding-top: 16px;
      width: 24.33%;
      &.active {
        & > a {
          color: #128c7e;
        }
      }
      & > a {
        color: #1c1e21;
        display: block;
        text-decoration: none;
        & > h4 {
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
        }
        @include mixins.attention {
          text-decoration: underline;
        }
      }
    }
    @include mixins.breakpoint(1400px) {
      & > li {
        & > a {
          & > h4 {
            font-size: calc(1rem + 0.5vw);
            line-height: calc((1rem + 0.5vw) * 1.5);
          }
        }
      }
    }
  }
  @include mixins.element(desktop-langs-backdrop) {
    background-color: transparent;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  @include mixins.element(sidenav-wrapper) {
    display: block;
    @include mixins.breakpoint(768px) {
      display: none;
    }
  }
  @include mixins.element(sidenav-opener) {
    background: none;
    border: 0;
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
      fill: #ffffff;
    }
  }
  @include mixins.element(sidenav) {
    background: #075e54;
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.3s ease-in-out;
    width: 100%;
    z-index: 2;
    padding: 56px 0;
  }
  @include mixins.element(sidenav-logo) {
    height: 40px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 40px;
  }
  @include mixins.element(sidenav-closer) {
    background: none;
    border: 0;
    cursor: pointer;
    color: #fff;
    height: 36px;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 36px;
    svg {
      width: 100%;
      height: 100%;
      fill: #ffffff;
    }
  }
  @include mixins.element(sidenav-list) {
    color: #ffffff;
    margin: 0 auto;
    width: 80%;
    padding: 32px 0 0 0;
    list-style: none;
  }
  @include mixins.element(sidenav-item) {
    border-bottom: 1px solid #128c7e;
    margin: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    & > h4 {
      font-weight: 400;
    }
  }
  @include mixins.element(sidenav-link) {
    color: inherit;
    display: inline-block;
    width: 100%;
    text-decoration: none;
  }
  @include mixins.element(sidenav-lang-wrapper) {
    padding-top: 56px;
  }
  @include mixins.element(sidenav-langs) {
    -webkit-appearance: none;
    background: url(https://static.whatsapp.net/rsrc.php/y3/r/VZT6sG-iky_.svg)
      no-repeat 90%;
    background-color: #075e54;
    border: 2px solid;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 12px;
    outline: 0;
  }
}
