@use '../utils/mixins' as mixins;
@use '../utils/variables' as variables;
.auth-form {
  max-width: 576px;
  border-radius: 1rem;
  @include mixins.element(entire-error) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
  }
  @include mixins.element(label) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
  }
  @include mixins.element(input) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
    border-radius: 1rem;
  }
  @include mixins.element(password-toggler) {
    width: calc(1.5rem + 0.75vw);
    height: calc(1.5rem + 0.75vw);
    right: 2%;
    top: 36%;
    svg {
      path {
        @media (prefers-color-scheme: dark) {
          stroke: #eeeeee;
        }

        @media (prefers-color-scheme: light) {
          stroke: #1b1b1b;
        }
      }
    }
  }
  @include mixins.element(error) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    &.hide {
      transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
    }
    &.show {
      transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    }
  }
  @include mixins.element(submit) {
    max-width: 250px;
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    border-radius: 1rem;
    margin: 0 auto;
    @include mixins.breakpoint(1400px) {
      max-width: 320px;
    }
  }
  @include mixins.element(additional-text) {
    font: 400 calc(1rem + 0.5vw) variables.$roboto;
    line-height: calc((1rem + 0.5vw) * 1.5);
  }
}
