.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-evenly;
}

.justify-self-end {
  justify-self: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.mg-0 {
  margin: 0;
}

.mg-left-auto {
  margin-left: auto;
}

.pd-0 {
  padding: 0;
}

.mg-horizontal-auto {
  margin: 0 auto;
}

.list-style-none {
  list-style: none;
}

.oveflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.border-none {
  border: 0;
}

.user-select-none {
  user-select: none;
}

.z-100 {
  z-index: 100;
}

/**
   * Set up a decent box model on the root element
 * Set root font size to 10px
   */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
   * Remove default margin
   */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/**
   * Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
   */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/**
   * Set core root defaults
   */
html:focus-within {
  scroll-behavior: smooth;
}

/**
   * Set core body defaults
   */
html {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-display: swap;
  text-rendering: auto;
  line-height: 1.5;
}

/**
   * stop text from getting too wide by limiting how wide the container can be
   */
article {
  line-height: 1.65;
}

/**
   * A elements that don't have a class get default styles
   */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
}

/**
   * Make images easier to work with
   */
img,
picture,
video,
iframe {
  max-width: 100%;
  display: block;
}

/**
   * Inherit fonts for inputs and buttons
   */
input,
button,
textarea,
select {
  font: inherit;
}

/**
   * Remove all animations, transitions and smooth scroll for people that prefer not to see them
   */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.landing-header {
  min-height: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(25px) saturate(180%);
  border-bottom: 1px solid #e8e8e8;
}
@media only screen and (min-width: 1400px) {
  .landing-header {
    min-height: calc(4rem + 1.5vw);
    border-bottom: calc(1px + 0.1vw) solid #e8e8e8;
  }
}

@media only screen and (min-width: 480px) {
  .landing-navbar {
    padding: 0 calc(1rem + 0.5vw);
  }
}
@media only screen and (min-width: 768px) {
  .landing-navbar {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .landing-navbar {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-navbar {
    width: 1170px;
  }
}
@media only screen and (min-width: 1400px) {
  .landing-navbar {
    width: calc(100rem + 25vw);
    padding: 0 calc(1.5rem + 0.5vw);
  }
}
.landing-navbar__item--hidden-in-small {
  display: none;
}
@media only screen and (min-width: 768px) {
  .landing-navbar__item--hidden-in-small {
    display: block;
  }
}
.landing-navbar__item:not(.active) .landing-navbar__link::after {
  opacity: 0;
  transform-origin: bottom;
  transform: scaleX(0.3) scaleY(0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.landing-navbar__item:not(.active) .landing-navbar__link:hover::after, .landing-navbar__item:not(.active) .landing-navbar__link:focus::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
.landing-navbar__link {
  height: 48px;
  padding: 0 calc(1rem + 0.5vw);
  font-size: 1.6rem;
  color: #0088cc;
}
.landing-navbar__link > svg {
  width: calc(1.5rem + 0.5vw);
  height: calc(1.5rem + 0.5vw);
  margin-right: 0.5rem;
  fill: #0088cc;
}
.landing-navbar__link > .chevron-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.landing-navbar__link::after {
  content: "";
  width: 90%;
  height: 3px;
  display: block;
  background-color: rgba(0, 136, 204, 0.75);
  position: absolute;
  bottom: 0;
  border-radius: calc(1rem + 0.5vw) calc(1rem + 0.5vw) 0 0;
}
@media only screen and (min-width: 1400px) {
  .landing-navbar__link {
    min-height: calc(4rem + 1.5vw);
    padding: 0 calc(1.5rem + 0.75vw);
    font-size: calc(1rem + 0.5vw);
  }
  .landing-navbar__link > svg {
    width: calc(1.5rem + 0.75vw);
    height: calc(1.5rem + 0.75vw);
    margin-right: calc(0.5rem + 0.25vw);
  }
  .landing-navbar__link > .chevron-down {
    border-top: calc(2px + 0.2vw) solid;
    border-right: calc(2px + 0.2vw) solid transparent;
    border-left: calc(2px + 0.2vw) solid transparent;
  }
  .landing-navbar__link::after {
    height: calc(0.2rem + 0.1vw);
  }
}
.landing-navbar__dropdown {
  width: 280px;
  min-width: 280px;
  border-radius: 8px;
  padding: 14px;
  right: 0;
  left: auto;
  margin-top: 4px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  z-index: 100;
  transform-origin: top right;
  transform: scaleX(0.15) scaleY(0.15);
  opacity: 0;
  pointer-events: none;
  transition: transform ease-in-out 0.15s, opacity ease-out 0.15s;
}
.landing-navbar__dropdown.open {
  transform: scaleX(1) scaleY(1);
  opacity: 1;
  pointer-events: all;
}
@media only screen and (min-width: 1400px) {
  .landing-navbar__dropdown {
    width: calc(25rem + 5vw);
    min-width: calc(25rem + 5vw);
    border-radius: calc(0.3rem + 0.15vw);
  }
}
.landing-navbar__dropdown-item {
  width: 125px;
  flex-grow: 1;
}
.landing-navbar__dropdown-item .landing-navbar__dropdown-link {
  font-size: 13px;
}
.landing-navbar__dropdown-item.long .landing-navbar__dropdown-link {
  font-size: 12px;
}
.landing-navbar__dropdown-item.chosen .landing-navbar__dropdown-link {
  color: #000000;
  background-color: #ffffff;
}
@media only screen and (min-width: 1400px) {
  .landing-navbar__dropdown-item .landing-navbar__dropdown-link {
    font-size: calc(1rem + 0.5vw);
  }
  .landing-navbar__dropdown-item.long .landing-navbar__dropdown-link {
    font-size: calc(0.9rem + 0.45vw);
  }
}
.landing-navbar__dropdown-link {
  color: #0088cc;
  padding: 9px 10px;
  border-radius: 4px;
}
.landing-navbar__dropdown-link:hover, .landing-navbar__dropdown-link:focus {
  background-color: rgba(0, 136, 204, 0.1);
}
@media only screen and (min-width: 1400px) {
  .landing-navbar__dropdown-link {
    padding: calc(0.8rem + 0.4vw);
    border-radius: calc(0.3rem + 0.15vw);
  }
}

body {
  background-color: #ffffff;
  color: #333333;
}

main {
  height: auto;
  margin: 48px auto 0 auto;
}
@media only screen and (min-width: 768px) {
  main {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  main {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
@media only screen and (min-width: 1400px) {
  main {
    width: calc(100rem + 25vw);
    margin: calc(4rem + 1.5vw) auto 0 auto;
  }
}

.tl-page {
  margin-top: 17px;
}
@media only screen and (min-width: 1400px) {
  .tl-page {
    margin-top: calc(1.5rem + 0.5vw);
  }
}

.landing-footer {
  border-top: 1px solid #e8e8e8;
  max-width: 925px;
  margin: calc(4rem + 1vw) auto 0 auto;
  padding: 16px 0;
}
@media only screen and (min-width: 992px) {
  .landing-footer {
    padding: 28px 0;
  }
}
.landing-footer__mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 992px) {
  .landing-footer__mobile-wrapper {
    display: none;
  }
}
.landing-footer__mobile-item {
  font-size: 14px;
  margin: 0 6px;
  font-weight: 400;
}
.landing-footer__mobile-link {
  color: #0088cc;
}
.landing-footer__mobile-link:hover, .landing-footer__mobile-link:focus {
  text-decoration: underline;
}
.landing-footer__desktop-wrapper {
  display: none;
}
@media only screen and (min-width: 992px) {
  .landing-footer__desktop-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    margin: 0 auto;
    max-width: 800px;
    padding-left: 0;
    min-height: 100px;
    height: auto;
  }
}
@media only screen and (min-width: 1750px) {
  .landing-footer__desktop-wrapper {
    max-width: 1200px;
    min-height: 150px;
  }
}
.landing-footer__desktop-column {
  flex: 0 1 auto;
  align-self: auto;
}
.landing-footer__desktop-column--about {
  flex: 0 1 290px;
}
@media only screen and (min-width: 1750px) {
  .landing-footer__desktop-column--about {
    flex: 0 1 320px;
  }
}
.landing-footer__desktop-item-title {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.landing-footer__desktop-item-title > a {
  color: #333333;
  text-decoration: none;
}
.landing-footer__desktop-item-title > a:hover, .landing-footer__desktop-item-title > a:focus {
  text-decoration: underline;
}
@media only screen and (min-width: 1750px) {
  .landing-footer__desktop-item-title {
    font-size: calc(1.5rem + 0.25vw);
  }
}
.landing-footer__desktop-item-description {
  font-size: 14px;
  line-height: 23px;
}
@media only screen and (min-width: 1750px) {
  .landing-footer__desktop-item-description {
    font-size: calc(1rem + 0.4vw);
    line-height: calc(2rem + 0.5vw);
  }
}
.landing-footer__desktop-item-cell {
  font-size: 14px;
  line-height: 23px;
}
.landing-footer__desktop-item-cell > a {
  color: #0088cc;
  text-decoration: none;
}
.landing-footer__desktop-item-cell > a:hover, .landing-footer__desktop-item-cell > a:focus {
  text-decoration: underline;
}
@media only screen and (min-width: 1750px) {
  .landing-footer__desktop-item-cell {
    font-size: calc(1rem + 0.4vw);
    line-height: calc(2rem + 0.5vw);
  }
}

.tl-intro__side-blog-wrapper {
  position: static;
  margin: 22px 0 0 16px;
  padding: 0 10px 0 15px;
  width: auto;
  right: 137px;
}
.tl-intro__side-blog-wrapper::before {
  content: " ";
  display: block;
  width: 5px;
  background: rgba(0, 136, 204, 0.75);
  border-radius: 5px;
  overflow: hidden;
  flex: 0 0 auto;
  margin: 0 17px 0 0;
}
@media only screen and (min-width: 992px) {
  .tl-intro__side-blog-wrapper {
    position: absolute;
    margin: 20px 0 17px 26px;
    padding: 5px 17px 5px 0;
    width: 200px;
  }
  .tl-intro__side-blog-wrapper::before {
    width: calc(0.4rem + 0.125vw);
    border-radius: calc(0.4rem + 0.2vw);
    margin: 0 calc(1.5rem + 0.25vw) 0 0;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-intro__side-blog-wrapper {
    width: calc(20rem + 5vw);
  }
}
.tl-intro__side-blog-header {
  font-size: 16px;
  color: #0088cc;
  font-weight: 700;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .tl-intro__side-blog-header {
    font-size: calc(1rem + 0.5vw);
    margin-bottom: calc(0.8rem + 0.4vw);
  }
}
.tl-intro__side-blog-header:hover, .tl-intro__side-blog-header:focus {
  text-decoration: underline;
}
.tl-intro__side-blog-date {
  color: #444;
  font-size: 13px;
  font-weight: 700;
}
@media only screen and (min-width: 1400px) {
  .tl-intro__side-blog-date {
    color: #000000;
    font-size: calc(0.8rem + 0.4vw);
  }
}
.tl-intro__side-blog-title {
  color: #0088cc;
  font-size: 14px;
  margin-top: calc(0.1rem + 0.1vw);
  font-weight: 400;
}
@media only screen and (min-width: 1400px) {
  .tl-intro__side-blog-title {
    font-size: calc(0.9rem + 0.45vw);
  }
}
.tl-intro__side-blog-title:hover, .tl-intro__side-blog-title:focus {
  text-decoration: underline;
}
.tl-intro__logo-wrapper {
  max-width: 400px;
  padding: 20px 0 20px;
}
.tl-intro__logo-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: -5px auto;
  animation: 500ms steps(30) both;
  background-repeat: no-repeat;
  background-size: cover;
}
.tl-intro__logo-icon.play {
  animation-name: t-logo-play;
}
@media only screen and (min-width: 480px) {
  .tl-intro__logo-icon {
    width: 144px;
    height: 144px;
    margin: -8px auto;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-intro__logo-icon {
    width: calc(12rem + 3vw);
    height: calc(12rem + 3vw);
  }
}
.tl-intro__logo-title {
  width: 66px;
  height: 24px;
  margin: 18px auto 6px;
}
@media only screen and (min-width: 480px) {
  .tl-intro__logo-title {
    width: 144px;
    height: 36px;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-intro__logo-title {
    width: calc(12rem + 3vw);
    height: calc(3rem + 1vw);
  }
}
.tl-intro__logo-message {
  font-size: 16px;
  max-width: 224px;
  line-height: 148%;
  color: #8c8c8c;
  text-align: center;
  padding: 1px 0 10px;
  font-weight: 400;
}
@media only screen and (min-width: 480px) {
  .tl-intro__logo-message {
    font-size: 20px;
    max-width: 285px;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-intro__logo-message {
    max-width: calc(30rem + 3vw);
    font-size: calc(1.5rem + 0.5vw);
  }
}

@keyframes t-logo-play {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
.tl-apps {
  margin: calc(4rem + 2vw) 0 0 0;
}

.tl-download-mobile-wrapper {
  max-width: 1028px;
  padding: 0 20px;
}
@media only screen and (min-width: 640px) {
  .tl-download-mobile-wrapper {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.tl-downloads__item {
  display: flex;
  margin: 20px 0 30px 0;
  color: #0088cc;
  font-size: 16px;
}
.tl-downloads__item.video_play .tl-downloads__item-video {
  opacity: 1;
}
.tl-downloads__item svg {
  width: 25px;
  height: 27px;
  margin-right: 10px;
  fill: #0088cc;
}
.tl-downloads__item--android .tl-downloads__item-img {
  min-width: 304px;
  min-height: 240px;
  width: 304px;
  height: 240px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item--android .tl-downloads__item-img {
    margin-bottom: calc(1rem + 0.5vw);
  }
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item--android {
    padding: 0 70px;
  }
}
.tl-downloads__item--ios .tl-downloads__item-img {
  min-width: 248px;
  min-height: 198px;
  width: 248px;
  height: 198px;
  background-image: url(../../assets/images/thumbnail/SiteiOS.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 360px 220px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 640px) {
  .tl-downloads__item--ios .tl-downloads__item-img {
    min-width: 304px;
    min-height: 240px;
    width: 304px;
    height: 240px;
    background-size: unset;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item--ios .tl-downloads__item-img {
    margin-bottom: calc(1rem + 0.5vw);
  }
}
@media only screen and (min-width: 640px) {
  .tl-downloads__item--ios {
    padding: 0 70px;
  }
}
.tl-downloads__item--desktop img {
  min-width: 320px;
  min-height: 156px;
  width: 320px;
  height: 156px;
}
@media only screen and (min-width: 640px) {
  .tl-downloads__item--desktop {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  .tl-downloads__item {
    margin: 40px 0;
  }
  .tl-downloads__item p {
    margin-bottom: 10px;
  }
  .tl-downloads__item::after {
    content: "";
    display: block;
    height: 3px;
    background: rgba(0, 136, 204, 0.75);
    position: absolute;
    border-radius: 4px;
    left: 4px;
    right: 4px;
    opacity: 0;
    bottom: 0px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: bottom;
    transform: scaleX(0.3) scaleY(0);
  }
  .tl-downloads__item:hover::after, .tl-downloads__item:focus::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item {
    font-size: calc(1.2rem + 0.6vw);
  }
  .tl-downloads__item svg {
    width: calc(2.5rem + 0.5vw);
    height: calc(2.5rem + 0.5vw);
  }
  .tl-downloads__item::after {
    height: calc(0.2rem + 0.05vw);
  }
}
.tl-downloads__item-video {
  position: absolute;
  opacity: 0;
}
.tl-downloads__item-video--android {
  min-width: 304px;
  min-height: 240px;
  width: 304px;
  height: 240px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item-video--android {
    margin-bottom: calc(1rem + 0.5vw);
  }
}
.tl-downloads__item-video--ios {
  min-width: 248px;
  min-height: 198px;
  width: 248px;
  height: 198px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 640px) {
  .tl-downloads__item-video--ios {
    min-width: 304px;
    min-height: 240px;
    width: 304px;
    height: 240px;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__item-video--ios {
    margin-bottom: calc(1rem + 0.5vw);
  }
}
.tl-downloads__more-btn {
  color: #0088cc;
  margin: 5px 0 0 0;
  background-image: none;
  padding: 10px 12px;
  font-size: 14px;
  color: #ffffff;
  background-color: #318fd3;
  border-radius: 4px;
}
.tl-downloads__more-btn svg {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
@media only screen and (min-width: 640px) {
  .tl-downloads__more-btn {
    display: none;
  }
}
.tl-downloads__desktop {
  min-width: 640px;
}
.tl-downloads__desktop-links {
  width: 595px;
  margin: 0 auto;
  height: 100%;
}
.tl-downloads__desktop-link {
  padding: 270px 0 20px;
  font-size: 16px;
  vertical-align: top;
  float: left;
  color: #0088cc;
}
.tl-downloads__desktop-link--win {
  width: 52%;
  padding-left: 20px;
  padding-right: 20px;
}
.tl-downloads__desktop-link--mac {
  width: 48%;
}
.tl-downloads__desktop-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  width: 100%;
  height: 3px;
  display: block;
  background: rgba(0, 136, 204, 0.75);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform-origin: bottom;
  transform: scaleX(0.3) scaleY(0);
}
.tl-downloads__desktop-link:hover::after, .tl-downloads__desktop-link:focus::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
@media only screen and (min-width: 1400px) {
  .tl-downloads__desktop-link {
    font-size: calc(1.2rem + 0.6vw);
  }
  .tl-downloads__desktop-link::after {
    height: calc(0.2rem + 0.05vw);
  }
}

.tl-download-desktop-wrapper {
  display: none;
}
@media only screen and (min-width: 640px) {
  .tl-download-desktop-wrapper {
    display: block;
    height: 315px;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-download-desktop-wrapper {
    height: calc(30rem + 4vw);
  }
}

.tl-news {
  max-width: 800px;
  margin: calc(5rem + 1vw) auto calc(1.8rem + 0.9vw) auto;
}
.tl-news__title {
  font-size: 23px;
  font-weight: 500;
}
@media only screen and (min-width: 1400px) {
  .tl-news__title {
    font-size: calc(1.8rem + 0.9vw);
  }
}
.tl-news__title-link {
  color: #0088cc;
}
@media only screen and (min-width: 640px) {
  .tl-news__title-link:hover, .tl-news__title-link:focus {
    text-decoration: underline;
  }
}
.tl-news__cards {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  .tl-news__cards {
    flex-direction: row;
  }
}
.tl-news__card {
  max-width: 100%;
  margin: 20px;
}
@media only screen and (min-width: 640px) {
  .tl-news__card {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .tl-news__card {
    margin: calc(1.8rem + 0.9vw);
  }
}
.tl-news__card:hover .tl-news__card-title, .tl-news__card:focus .tl-news__card-title {
  text-decoration: underline;
}
.tl-news__card-cover {
  max-width: 100%;
  height: auto;
  max-height: 220px;
}
@media only screen and (min-width: 1400px) {
  .tl-news__card-cover {
    max-height: calc(20rem + 5vw);
  }
}
.tl-news__card-title {
  margin: calc(1rem + 0.25vw) 0 calc(0.2rem + 0.01vw) 0;
  padding: 0 calc(1rem + 0.25vw);
  font-size: 16px;
  color: #0088cc;
  line-height: 160%;
}
@media only screen and (min-width: 1400px) {
  .tl-news__card-title {
    font-size: calc(1.4rem + 0.7vw);
  }
}
.tl-news__card-description {
  color: #333;
  font-size: 14px;
  line-height: 160%;
  padding: 0 calc(1rem + 0.25vw);
}
@media only screen and (min-width: 1400px) {
  .tl-news__card-description {
    font-size: calc(1.2rem + 0.6vw);
  }
}
.tl-news__card-date {
  margin-top: calc(0.2rem + 0.01vw);
  font-size: 14px;
  color: #888;
  padding: 0 calc(1rem + 0.25vw);
}
@media only screen and (min-width: 1400px) {
  .tl-news__card-date {
    font-size: calc(1rem + 0.5vw);
  }
}
@media only screen and (min-width: 1400px) {
  .tl-news {
    max-width: 1200px;
  }
}

.tl-options {
  margin: calc(1.8rem + 0.9vw) 0 0 0;
}
.tl-options > h3 {
  color: #222222;
}
.tl-options__boxes {
  max-width: 950px;
  margin: calc(1.5rem + 0.25vw) auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 1400px) {
  .tl-options__boxes {
    max-width: 1400px;
  }
}
.tl-options__box {
  position: relative;
  padding: 0 calc(1rem + 0.25vw);
  flex: 0 1 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .tl-options__box {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .tl-options__box {
    width: 33.33333%;
  }
}
.tl-options__box-wrapper {
  max-width: 260px;
  padding: 20px 0 10px;
}
@media only screen and (min-width: 1400px) {
  .tl-options__box-wrapper {
    max-width: calc(25rem + 2.5vw);
    padding: calc(1.6rem + 0.8vw) 0 calc(0.8rem + 0.2vw);
  }
}
.tl-options__box-sticker {
  max-width: 160px;
  width: 100%;
}
@media only screen and (min-width: 1400px) {
  .tl-options__box-sticker {
    width: calc(20rem + 2vw);
  }
}
.tl-options__box-title {
  color: #0088cc;
  margin: 15px 0 6px;
  font-size: calc(2rem + 0.2vw);
  font-weight: 400;
}
@media only screen and (min-width: 1400px) {
  .tl-options__box-title {
    font-size: calc(1.6rem + 0.8vw);
  }
}
.tl-options__box-description {
  font-size: 15px;
  line-height: 158%;
}
@media only screen and (min-width: 1400px) {
  .tl-options__box-description {
    font-size: calc(1rem + 0.5vw);
  }
}
.tl-options__box-description a {
  color: #0088cc;
  text-decoration: none;
}
.tl-options__box-description a:hover, .tl-options__box-description a:focus {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
