@use '../utils/mixins' as mixins;
.card-column {
  --gap: calc(1rem + 0.5vw);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: calc(var(--gap) * 3 / -2) 0;
  & > * {
    margin: calc(var(--gap) * 3 / 2) 0;
    width: 100%;
    align-self: stretch;
  }
  @include mixins.breakpoint(576px) {
    & > * {
      width: 48%;
    }
  }
  @include mixins.breakpoint(992px) {
    & > * {
      width: 32%;
    }
  }
  @supports (display: grid) {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--gap) * 3);
    margin: 0;
    & > * {
      width: 100%;
      margin: 0;
    }
    @include mixins.breakpoint(576px) {
      grid-template-columns: 1fr 1fr;
    }
    @include mixins.breakpoint(992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
